<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>{%block title%}{% endblock %}</title>
</head>
<body>
<!--{% block nav %}-->
<!--        <ul id="nav">-->
<!--            <li>{% block nav-admin %}<a href="/admin">Admin</a>{% endblock %}</li>-->
<!--            <li>{% block nav-send %}<a href="/">Send mes</a>{% endblock %}</li>-->
<!--            <li>{% block nav-contact %}<a href="/index">Contact</a>{% endblock %}</li>-->
<!--        </ul>-->
<!--{% endblock %}-->
{% block content %}
{% endblock content %}
</body>
</html>